/****************************** Left Slide-In Overlay***************************/
.container-test{
  position: relative;
  width: 100%;
}
.img-users {
  display: block;
  width: 100%;
  height: auto;
}
.overlay-left {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:rgba(95, 170, 163, 0.4);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: all 0.5s ease;
}
.container-test:hover .overlay-left {
  width: 100%;
}
/*******************************************************************************/

/****************************** Top Slide-In Overlay***************************/
.container-top {
  position: relative;
  width: 100%;
}
.overlay-top {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(95, 170, 163, 0.4);
  overflow: hidden;
  width: 100%;
  height:0;
  transition:all 0.5s ease;
}
.container-top:hover .overlay-top {
  bottom: 0;
  height:100%;
}
/*******************************************************************************/

/****************************** Right Slide-In Overlay***************************/
.container-right {
  position: relative;
  width: 100%;
}
.overlay-right {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: rgba(95, 170, 163, 0.4);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition:all 0.5s ease;
}
.container-right:hover .overlay-right {
  width: 100%;
  left: 0;
}
/*******************************************************************************/

.custom-navbar{
	border-radius: 0px;
	margin-bottom: 0px;
}

.custom-footer {
    background-color: #222;
    border-color: #080808;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.shadow-pannel {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}


.text {
    bottom: 50px;
    display: block;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
}

img {
    border-style: none;
    border-color: inherit;
    border-width: 0;
    max-width: 100%;
    vertical-align: middle;
}
* {
    margin: 0;
    outline: medium none;
    padding: 0;
    text-decoration: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    color: #707070;
    font: 400 12px "Open Sans",HelveticaNeue,Helvetica,Arial;
}
body {
    color: #718596;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
}
html {
    font-size: 100%;
}

.textbox_css {
    height:150px;
}

.img-users {
border-radius:4px;
}


.home_row {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
.home_div {
    width: 350px;
    padding: 6px;
}

.btn_a {
    font-size: 16px;
    margin: 5px 5px 5px 0;
    background-color: #616161;
    color: #fff;
    border: medium none;
    cursor: pointer;
    display: inline-block;
    outline: 0 none;
    overflow: hidden;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}

.btn_a:hover{
        background-color: grey;
        color: #fff;
        text-decoration: none;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    }

.shadow-panel {
    box-sizing:border-box;
    box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.panel-heading-custom {
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
    font-size:30px;
}

.panel-heading-custom-pages {
    text-align:center;
    font-size:30px;
}
.panel-heading-custom-pages-left {
    text-align:left;
    font-size:30px;
}

.panel-heading-text {
    font-weight:normal;
}
.form_controls_custom {
    margin-bottom:10px;
}

.custom-input-control {
    width:400px;
}

.custom-thumb_container-body {
    padding-top:30px;
    min-height:250px;
}

@media screen and (min-width:600px) {
    .reg_body {
        padding-left:15px;
    }
    .row-content {
    margin-left:0;
    }
}

.row-content {
    margin-top: 60px;
    margin-bottom:auto;
}

.large-btn {
    width:285px;
}

.err_lbl {
    width: 100%;
    padding: 5px;
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    border-radius: 4px;
}


#message {
    margin-top:4%;
}
.thumb_container {
   margin-top:4%;
 }

.tag-note {
     font-size:16px;
     text-align:left;
     color:red;
}

.thumb_img {
    text-align:center;
}

#FPImage1 {
     border:1px solid black;
     border-radius:0px;
     padding:10px;
}

.panel-footer-content {
    text-align:center;
}

.modal-backdrop {
    background-color:#f5f5f5;
}
@media only screen and (min-width:992px) and (max-width:1370px) {
    .email-div {
        padding-right:10px;
    }
}

@media screen and (min-width:1100px) {
        .email-div {
        padding-right: 20px;
    }
}

/*******Responsive media screen for dashboard frame***********/
@media only screen and (min-width:300px)and (max-width:1000px) {
    .embed-responsive-12by6 {
        padding-bottom: 90%;
    }
}
/*************************************************************/

#StudentRegisterForm{
    padding-top:20px;padding-bottom:20px;
}

.congrets-text {
    font-size:20px;
}

.lbl_msg {
    font-weight:bold;
    font-size: 15px;
    line-height: 1.5;
    margin-left:20px;
}


.user-profile .user-profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.bc-custom {
    background-color: #d9edf7;
    border:1px solid #bce8f1;
    border-radius:6px;
    padding-left:25px;
    font-size:17px;
    width:auto;
}

.bc-custom-pages {
    margin-left:4%;
    margin-right:4%;
}


@media all and (max-width:500px){
     .breadcrumb{
          font-size: 10px;
     }
     .breadcrumb li a{
          padding:10px 0 10px 30px;
     }
}

/*****************************Green tile******************************/
.panel-green { border-color: #5cb85c; }
.panel-green > .panel-heading { color: white; background-color: #5cb85c; }
.panel-green > a { color: #5cb85c; }
/***********************************************************************/


/*****************************Yellow tile******************************/
.panel-yellow { border-color: #f0ad4e; }
.panel-yellow > .panel-heading { color: white; background-color: #f0ad4e;}
.panel-yellow > a { color: #f0ad4e; }
/***********************************************************************/


/*****************************Red tile******************************/
.panel-red { border-color: #d9534f; }
.panel-red > .panel-heading { color: white; background-color: #d9534f;}
.panel-red > a { color: #d9534f; }
/***********************************************************************/


/*****************************maroon tile******************************/
.panel-maroon { border-color: #800000; }
.panel-maroon > .panel-heading { color: white; background-color: #800000;}
.panel-maroon > a { color: #800000; }
/***********************************************************************/

/*****************************DarkGolderRod tile******************************/
.panel-DarkGoldenRod { border-color:#B8860B; }
.panel-DarkGoldenRod > .panel-heading { color: white; background-color: #B8860B;}
.panel-DarkGoldenRod > a { color:#B8860B; }
/***********************************************************************/

/*****************************Olive tile******************************/
.panel-olive { border-color: #808000; }
.panel-olive > .panel-heading { color: white; background-color:#808000;}
.panel-olive > a { color:#808000; }
/***********************************************************************/

/*****************************steelblue tile******************************/
.panel-steelblue { border-color: #5F9EA0; }
.panel-steelblue > .panel-heading { color: white; background-color:#5F9EA0;}
.panel-steelblue > a { color:#5F9EA0; }
/***********************************************************************/

/*****************************rosybrown tile******************************/
.panel-rbrown { border-color: #BC8F8F; }
.panel-rbrown > .panel-heading { color: white; background-color: #BC8F8F;}
.panel-rbrown > a { color: #BC8F8F; }
/***********************************************************************/

/*****************************darkslategray tile******************************/
/*.panel-dsg { border-color: #2F4F4F; }
.panel-dsg > .panel-heading { color: white; background-color: #2F4F4F;}
.panel-dsg > a { color: #2F4F4F; }*/
/***********************************************************************/

/*****************************darkslategray tile******************************/
.panel-dsg { border-color: #E80000; }
.panel-dsg > .panel-heading { color: white; background-color: #E80000;}
.panel-dsg > a { color: #E80000; }
/***********************************************************************/

 